<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Buscar Puntos</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="lib/leaflet/leaflet.css" />
  <link rel="stylesheet" href="search.css" />
  <link rel="stylesheet" href="base.css" />
</head>
<body class="container-fluid">

  <menu class="row text-center">
    <a href="#" class="col-xs-1">
      <strong id="search">Buscar</strong>
    </a>
    <a href="/hacksb/new.html" class="col-xs-1">
      <strong id="new">Crear</strong>
    </a>
  </menu>

  <main class="main-content row">

    <section id="filters" class="col-xs-2">

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Tipo</h4>
          </div>
          <div class="row">
            <select class="form-control col-xs-6 widget" id="event_type">
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Buscar</h4>
          </div>
          <div class="row">
            <input type="text" class="form-control col-xs-6 widget" id="buscar" >
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
        
        <div class="row">
            <h4 class="col-xs-12">Cuando</h4>
        </div>
          
      <ul id="filter_fecha" class="nav nav-list">
      <li class="active"><a href="#" data-value="todos">Desde el principio</a></li>
      <li><a href="#" data-value="estasemana">Esta semana</a></li>
      <li><a href="#" data-value="semanapasada">Semana pasada</a></li>
      <li><a href="#" data-value="estemes">Este mes</a></li>
      <li><a href="#" data-value="mespasado">Mes pasado</a></li>
      <li><a href="#" data-value="esteanho">Este año</a></li>
      <li><a href="#" data-value="anhopasado">Año pasado</a></li>
      <li class="nav-header">Seleccionar fechas:</li>

      <input type="text" class="span6 hidden-print" placeholder="Desde">
      <input type="text" class="span6 hidden-print" placeholder="Hasta">

      <li class="divider"></li>
    </ul>
    </div>
      </div>
    


    </div>

  </section>


  <section id="projects" class="col-xs-2">

    <h1 class="text-center">Puntos</h1>
    <br />

    <ul id="project_list" class="list-unstyled">
    </ul>

  </section>

  <section id="map-container" class="col-xs-8">
    <div id="map" class="row"></div>
  </section>

</main>

<!-- templates -->

<script type="text/template" id="point-li-tmpl">
  <% if (event_type === 'Alerta') {
        var f = '<small class="label label-danger">';
        var li_style=' style="background-color: #ffcc66;" ';
      } else {
        var f = '<small style="color: grey; font-size: 75%">';
      }
  %>

  <li class="row point_item" <%= li_style %>">
    <a class="col-xs-12 pull-left" href="/hacksb/show.html?cartodb_id=<%- cartodb_id %>"><%- name %> </a>
    <span class="col-xs-12 ">

      <small class="label label-success"><%- estado %></small>
      <small class="label label-default"><%- consumo %></small>
      <small class="label label-info"><%- pagos %></small>
      <% if (event_type === 'Alerta') {
        var f = '<small class="label label-danger">';
      } else {
        var f = '<small style="color: grey; font-size: 75%">';
      }
      %>
      <%= f %><%- event_type %></small>

    </span>
  </li>
</script>

<!-- javascript -->

<script src="lib/jquery/jquery-1.12.0.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/json2.js"></script>
<script src="lib/underscore/underscore-min.js"></script>
<script src="lib/backbone/backbone-min.js"></script>

<script src="lib/backbone-uilib/models/Domain.js"></script>
<script src="lib/backbone-uilib/models/DomainCollection.js"></script>
<script src="lib/backbone-uilib/views/OptionView.js"></script>
<script src="lib/backbone-uilib/views/SelectView.js"></script>
<script src="lib/backbone-uilib/views/WidgetsView.js"></script>
<script src="lib/backbone-uilib/views/ItemView.js"></script>
<script src="lib/backbone-uilib/views/ListView.js"></script>
<script src="lib/backbone-uilib/views/BaseView.js"></script>
<script src="views/FiltersView.js"></script>
<script src="lib/leaflet/leaflet.js"></script>
<script src="lib/backbone-geojson/Feature.js"></script>
<script src="lib/backbone-geojson/FeatureCollection.js"></script>

<script src="symbolsSupport.js"></script>
<script src="models/Where.js"></script>
<script src="views/MapView.js"></script>


<script src="models/Point.js"></script>
<script src="models/PointCollection.js"></script>

<script src="data/domains.js"></script>


<script src="search.js"></script>

</body>
</html>
